
<footer>
    <div id="share-buttons">

        <!-- Facebook -->
        <a href="http://www.facebook.com/ReclaimedArtCraftsman" target="_blank">
            <img src="http://i.imgur.com/N5sDi2y.png" alt="Facebook" />
        </a>

        <!-- Twitter -->
        <a href="https://twitter.com/ReclaimArtCraft" target="_blank">
            <img src="http://i.imgur.com/T1KNtBx.png" alt="Twitter" />
        </a>

        <!-- Instagram -->
        <a href="https://www.instagram.com/reclaimedartcraftsman" target="_blank">
            <img src="http://i.imgur.com/b2G6bc7.png" alt="Instagram" />
        </a>

        <!-- Pinterest -->
        <a href="http://www.pinterest.com/karlhass" target="_blank">
            <img src="http://i.imgur.com/ebdczp4.png" alt="Pinterest" />
        </a>

    </div>

    <div class="address">
    <h4>Reclaimed Art Craftsman Minneapolis MN 55416</h4>
    <h4>320.282.4575    Karl@reclaimedartcraftsman.com </h4>
    </div>

         <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#header" >HOME</a></li>
                <li><a href="#pinder" >Pinder</a></li>
                <li><a href="#about" >About</a></li>
                <!--<li><a href="#portfolio" >Portfolio</a></li>-->
            </ul>
        </div>

</footer>