

<div ng-controller="GalleryController" id="portfolio">
    <uib-carousel interval="myInterval"  no-wrap="noWrapSlides" template-url="/assets/views/templates/carousel.html">

        <uib-slide ng-repeat="slide in slides" active="slide.active" template-url="/assets/views/templates/slide.html">
                    <img class="photo" ng-src="{{slide.image}}">
                    <div class="carousel-caption">
                        <!--<h4>Slide {{$index+1}}</h4>-->
                    </div>
                </uib-slide>
            </uib-carousel>
    </div>






